.index {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.index .div {
    background-color: #ffffff;
    height: 2477.34px;
    position: relative;
    width: 1440px;
}

.index .header {
    align-items: flex-start;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #69696912;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 0px 60px 1px;
    position: absolute;
    top: 0;
    width: 1440px;
}

.index .header-2 {
    align-items: center;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #69696912;
    display: flex;
    flex: 1;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 1320px;
    padding: 0px 12px 1px;
    position: relative;
}

.index .div-header-logo {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 20px 0px;
    position: relative;
}

.index .link-logo-dau-gia {
    height: 44px;
    position: relative;
    width: 166.72px;
}

.index .list {
    height: 84px;
    position: relative;
    width: 650.98px;
}

.index .item-margin {
    align-items: flex-start;
    display: inline-flex;
    left: 445px;
    padding: 29px 15.36px 31px 17px;
    position: absolute;
    top: 0;
}

.index .text-wrapper {
    color: #1f2230;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.index .item-link-li-n-h-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 557px;
    padding: 29px 15.66px 31px 17px;
    position: absolute;
    top: 0;
}

.index .item-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 0;
    padding: 0px 17px;
    position: absolute;
    top: 0;
}

.index .item {
    height: 84px;
    position: relative;
    width: 140.77px;
}

.index .text-wrapper-2 {
    color: #1f2230;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 24px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 28px;
    white-space: nowrap;
}

.index .icon {
    height: 20px;
    left: 128px;
    position: absolute;
    top: 33px;
    width: 13px;
}

.index .div-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 175px;
    padding: 0px 17px;
    position: absolute;
    top: 0;
}

.index .item-2 {
    height: 84px;
    position: relative;
    width: 126.42px;
}

.index .img {
    height: 20px;
    left: 113px;
    position: absolute;
    top: 33px;
    width: 13px;
}

.index .item-margin-2 {
    align-items: flex-start;
    display: inline-flex;
    left: 335px;
    padding: 0px 17px;
    position: absolute;
    top: 0;
}

.index .item-3 {
    height: 84px;
    position: relative;
    width: 75.78px;
}

.index .icon-2 {
    height: 20px;
    left: 63px;
    position: absolute;
    top: 33px;
    width: 13px;
}

.index .div-nav-right {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 1.53e-5px 0px 147.86px;
    position: relative;
}

.index .div-search-btn {
    height: 42px;
    position: relative;
    width: 57px;
}

.index .div-login {
    align-items: flex-start;
    background-color: #b41712;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 8px 18.88px 10px 19.65px;
    position: relative;
}

.index .pseudo {
    background-color: #b41712;
    border-radius: 100px;
    height: 42px;
    left: 0;
    position: absolute;
    top: 0;
    width: 134px;
}

.index .pseudo-2 {
    background-color: #b41712;
    border-radius: 4px;
    height: 42px;
    left: 0;
    position: absolute;
    top: 0;
    width: 134px;
}

.index .text-wrapper-3 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.index .div-banner-new {
    align-items: flex-start;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e7255b7adc33d128a35726/releases/64e72ae1e1c2a81b98b3cd5d/img/div-banner-new.png);
    background-position: 50% 50%;
    background-size: cover;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    gap: 18px;
    left: 72px;
    padding: 82px 0px 83px;
    position: absolute;
    top: 86px;
    width: 1296px;
}

.index .heading-danh-m-c-t {
    color: #121212;
    font-family: "Montserrat", Helvetica;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.index .div-link-redirect {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 1296px;
}

.index .link-trang-ch {
    color: #787878;
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.index .span {
    font-weight: 500;
}

.index .text-wrapper-4 {
    font-weight: 700;
}

.index .footer {
    align-items: center;
    background-color: transparent;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e7255b7adc33d128a35726/releases/64e72e3d36502f67d4402351/img/footer-1.svg);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 50px;
    left: 0;
    padding: 2px 0px 0px;
    position: absolute;
    top: 1988px;
    width: 1440px;
}

.index .div-row {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 0px 0px;
    position: relative;
    width: 1320px;
}

.index .div-col-xl-margin {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    max-width: 1320px;
    padding: 47px 12px 0px;
    position: relative;
    width: 330px;
}

.index .div-footer-item {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 25px;
    min-width: 200px;
    position: relative;
}

.index .heading {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 12px 0.78px 0px;
    position: relative;
}

.index .c-ng-ty-u-gi-h-p {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 26.4px;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.index .list-2 {
    height: 260px;
    position: relative;
    width: 306px;
}

.index .item-m-s-thu {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    height: 21px;
    left: 0;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: -2px;
    white-space: nowrap;
}

.index .i-di-n-b-th-h-ng-h-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 0;
    padding: 0px 12px 1px 0px;
    position: absolute;
    top: 30px;
}

.index .p {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.index .s-gi-y-ng-k-ho-t-ng-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 0;
    padding: 0px 3px 1px 0px;
    position: absolute;
    top: 82px;
}

.index .item-4 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 0;
    padding: 0px 16.55px 2px 0px;
    position: absolute;
    top: 155px;
}

.index .text-wrapper-5 {
    color: #d2d2d2;
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.index .link {
    height: 39px;
    margin-top: -19px;
    position: relative;
    width: 289.45px;
}

.index .text-wrapper-6 {
    color: #d2d2d2;
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    height: 21px;
    left: 56px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: -3px;
    white-space: nowrap;
}

.index .text-wrapper-7 {
    color: #d2d2d2;
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    height: 21px;
    left: 0;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.index .i-n-tho-i-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 0;
    padding: 0px 128px 1px 0px;
    position: absolute;
    top: 207px;
}

.index .div-2 {
    color: transparent;
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.index .text-wrapper-8 {
    color: #ffffff;
}

.index .text-wrapper-9 {
    color: #d2d2d2;
}

.index .email-info-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 0;
    padding: 0px 96px 1px 0px;
    position: absolute;
    top: 238px;
}

.index .div-footer-item-wrapper {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    max-width: 1320px;
    padding: 47px 62.3px 0px 62.7px;
    position: relative;
    width: 330px;
}

.index .div-footer-item-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24.39px;
    min-width: 200px;
    padding: 0px 0px 172.39px;
    position: relative;
}

.index .text-wrapper-10 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 26.4px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.index .list-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 0px 0px 1px;
    position: relative;
}

.index .text-wrapper-11 {
    color: #d2d2d2;
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.index .div-col-xl-margin-2 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    max-width: 1320px;
    padding: 47px 36.17px 0px;
    position: relative;
    width: 330px;
}

.index .list-4 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 0px 0.66px 1px 0px;
    position: relative;
}

.index .div-col-xl-margin-3 {
    align-items: flex-start;
    display: flex;
    max-width: 1320px;
    padding: 48px 12px 112.39px;
    position: relative;
    width: 330px;
}

.index .div-footer-item-3 {
    height: 225.39px;
    position: relative;
    width: 306px;
}

.index .heading-tham-gia {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 22px;
    font-weight: 600;
    height: 27px;
    left: 0;
    letter-spacing: 0;
    line-height: 26.4px;
    position: absolute;
    top: -2px;
    white-space: nowrap;
}

.index .text-wrapper-12 {
    color: #d2d2d2;
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    height: 21px;
    left: 0;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 49px;
    white-space: nowrap;
}

.index .form {
    align-items: flex-start;
    border: 1px solid;
    border-color: #696969;
    border-radius: 30px;
    display: flex;
    left: 0;
    max-width: 350px;
    padding: 6px;
    position: absolute;
    top: 97px;
    width: 306px;
}

.index .input {
    align-items: flex-start;
    border-radius: 30px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    padding: 13.5px 20px 14.5px;
    position: relative;
}

.index .div-placeholder {
    align-items: flex-start;
    display: flex;
    padding: 0px 0px 1px;
    position: relative;
    width: 134px;
}

.index .text-wrapper-13 {
    color: #696969;
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.index .button {
    align-items: flex-start;
    background-color: #b41712;
    border-radius: 30px;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    min-height: 46px;
    min-width: 120px;
    padding: 10px 24.99px 12px 26.01px;
    position: relative;
}

.index .link-logoccdv-png {
    height: 60px;
    left: 0;
    position: absolute;
    top: 165px;
    width: 160px;
}

.index .div-footer-bottom {
    align-items: flex-start;
    background-color: #000000;
    border-color: #2f2f2f;
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    flex: 0 0 auto;
    padding: 15px 993px 15px 72px;
    position: relative;
    width: 1440px;
}

.index .copyright-c-ng-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 0px 1px;
    position: relative;
}

.index .div-3 {
    color: transparent;
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.index .text-wrapper-14 {
    color: #ffffff;
    font-weight: 500;
}

.index .text-wrapper-15 {
    color: #b41712;
    font-weight: 600;
}

.index .div-live-auction {
    align-items: flex-start;
    display: flex;
    left: 0;
    padding: 0px 60px 120px;
    position: absolute;
    top: 327px;
    width: 1440px;
}

.index .section-bg-png {
    height: 644px;
    left: 938px;
    position: absolute;
    top: 0;
    width: 502px;
}

.index .section-bg-png-2 {
    height: 644px;
    left: 0;
    position: absolute;
    top: 1017px;
    width: 502px;
}

.index .div-row-2 {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 0px 0px;
    padding: 15px 0px 0px;
    position: relative;
    width: 1320px;
}

.index .div-col-lg {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1320px;
    padding: 0px 12px 422.81px;
    position: relative;
    width: 330px;
}

.index .div-search-area-wrapper {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 5px 2px 30px #0000000f;
    display: flex;
    flex: 0 0 auto;
    padding: 30px 20px;
    position: relative;
    width: 306px;
}

.index .div-search-area {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    width: 266px;
}

.index .div-sidebar-widget {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 266px;
}

.index .text-wrapper-16 {
    color: #212529;
    font-family: "Montserrat", Helvetica;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.index .span-hight-light {
    background-color: #b41712;
    border-radius: 5px;
    height: 3px;
    position: relative;
    width: 50px;
}

.index .pseudo-3 {
    background-color: #b41712;
    border-radius: 5px;
    height: 3px;
    left: 55px;
    position: absolute;
    top: 0;
    width: 5px;
}

.index .pseudo-4 {
    background-color: #b41712;
    border-radius: 5px;
    height: 3px;
    left: 65px;
    position: absolute;
    top: 0;
    width: 5px;
}

.index .form-2 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 19px;
    position: relative;
    width: 266px;
}

.index .div-placeholder-wrapper {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e5ecef;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 12px 36px 14px 21px;
    position: relative;
}

.index .div-placeholder-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 87px 0px 0px;
    position: relative;
}

.index .text-wrapper-17 {
    color: #757575;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.index .div-filter-date {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 15px;
    position: relative;
    width: 266px;
}

.index .div-filter-date-body {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 5px;
    position: relative;
    width: 266px;
}

.index .div-4 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 1px;
    position: relative;
}

.index .text-wrapper-18 {
    color: #212529;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.index .div-5 {
    align-items: flex-start;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: -1px 0px;
    position: relative;
}

.index .img-2 {
    flex: 0 0 auto;
    position: relative;
}

.index .input-2 {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #e5ecef;
    height: 36px;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
    position: relative;
    width: 109.5px;
}

.index .l-c-wrapper {
    align-items: flex-start;
    background-color: #b41712;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 8.88px 15.66px 10.87px 15.86px;
    position: relative;
}

.index .l-c {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.index .aside {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 5px 2px 30px #0000000f;
    display: flex;
    flex: 0 0 auto;
    padding: 30px 20px 42px;
    position: relative;
    width: 306px;
}

.index .form-3 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: 266px;
}

.index .label {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    padding: 0px 0px 0px 35px;
    position: relative;
    width: 266px;
}

.index .text-wrapper-19 {
    color: #212529;
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.index .span-checkmark {
    border: 1px solid;
    border-color: #e0e0e0;
    border-radius: 2px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 20px;
}

.index .pseudo-wrapper {
    background-color: #b41712;
    border: 1px solid;
    border-color: #e0e0e0;
    border-radius: 2px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 20px;
}

.index .pseudo-5 {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #ffffff;
    border-right-style: solid;
    border-right-width: 3px;
    height: 10px;
    left: 8px;
    position: relative;
    top: 4px;
    transform: rotate(45deg);
    width: 5px;
}

.index .form-list {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 266px;
}

.index .item-margin-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    padding: 15px 0px 0px;
    position: relative;
    width: 100%;
}

.index .overlap-group-wrapper {
    height: 96px;
    position: relative;
    width: 266px;
}

.index .overlap-group {
    height: 85px;
    position: relative;
    top: 4px;
}

.index .text-wrapper-20 {
    color: #212529;
    font-family: "Montserrat", Helvetica;
    font-size: 12px;
    font-weight: 500;
    height: 18px;
    left: 88px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 43px;
    white-space: nowrap;
}

.index .text-wrapper-21 {
    color: #212529;
    font-family: "Montserrat", Helvetica;
    font-size: 12px;
    font-weight: 500;
    height: 18px;
    left: 179px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 43px;
    white-space: nowrap;
}

.index .text-wrapper-22 {
    color: #212529;
    font-family: "Montserrat", Helvetica;
    font-size: 12px;
    font-weight: 500;
    height: 18px;
    left: 88px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 67px;
    white-space: nowrap;
}

.index .link-2 {
    align-items: flex-start;
    display: flex;
    gap: 8px;
    left: 0;
    position: absolute;
    top: 0;
    width: 266px;
}

.index .istockphoto {
    height: 70px;
    max-width: 266px;
    position: relative;
    width: 80px;
}

.index .span-ellipsis {
    align-items: flex-start;
    display: flex;
    min-height: 40px;
    position: relative;
    width: 178px;
}

.index .text-wrapper-23 {
    color: #606060;
    font-family: "Montserrat", Helvetica;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 19.5px;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.index .div-col-lg-2 {
    height: 1525.56px;
    max-width: 1320px;
    position: relative;
    width: 990px;
}

.index .overlap {
    height: 1428px;
    left: 0;
    position: absolute;
    top: 0;
    width: 990px;
}

.index .div-view-list {
    align-items: flex-start;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    left: 12px;
    padding: 0px 0px 0px 786px;
    position: absolute;
    top: 0;
    width: 966px;
}

.index .options {
    align-items: flex-start;
    background-color: #efefef;
    border: 1px solid;
    border-color: #e0e0e0;
    border-radius: 2px;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 7px 29px 7px 17px;
    position: relative;
}

.index .div-6 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 1px 6px 1px 0px;
    position: relative;
}

.index .text-wrapper-24 {
    color: #000000;
    font-family: "Montserrat", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.index .div-row-3 {
    height: 1405px;
    left: 0;
    position: absolute;
    top: 23px;
    width: 990px;
}

.index .div-col-lg-margin {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    left: 0;
    max-width: 990px;
    padding: 24px 12px 0px;
    position: absolute;
    top: 0;
    width: 330px;
}

.index .div-eg-card {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #eeeeee;
    border-radius: 5px;
    box-shadow: 5px 2px 30px #0000000f;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1px;
    position: relative;
    width: 306px;
}

.index .div-auction-img {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
}

.index .link-z {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e7255b7adc33d128a35726/releases/64e72ae1e1c2a81b98b3cd5d/img/link---z4128476711827-aa0d203f98e28021fe577afd31d7fd79-jpg@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    height: 200px;
    position: relative;
    width: 304px;
}

.index .div-auction-timer {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 5px 2px 30px #0000000f;
    display: flex;
    justify-content: center;
    left: 37px;
    padding: 12px 20px 11.19px;
    position: absolute;
    top: 137px;
    width: 230px;
}

.index .heading-2 {
    color: #444444;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 19.2px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.index .div-auction-content {
    align-self: stretch;
    height: 242.19px;
    position: relative;
    width: 100%;
}

.index .heading-link {
    align-items: flex-start;
    display: flex;
    left: 20px;
    min-height: 90px;
    position: absolute;
    top: 24px;
    width: 264px;
}

.index .text-wrapper-25 {
    color: #1f2230;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22.4px;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.index .gi-kh-i-i-m-wrapper {
    align-items: flex-start;
    display: flex;
    left: 20px;
    position: absolute;
    top: 122px;
    width: 264px;
}

.index .text-wrapper-26 {
    color: #696969;
    font-weight: 500;
}

.index .text-wrapper-27 {
    color: #b41712;
    font-weight: 700;
}

.index .text-wrapper-28 {
    color: #1f2230;
    font-weight: 700;
}

.index .tr-ng-th-i-ch-a-u-gi-wrapper {
    align-items: flex-start;
    display: flex;
    left: 20px;
    position: absolute;
    top: 146px;
    width: 264px;
}

.index .text-wrapper-29 {
    color: #ffc107;
    font-weight: 700;
}

.index .div-auction-card {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 118.48px 0px;
    justify-content: space-between;
    left: 20px;
    position: absolute;
    top: 178px;
    width: 264px;
}

.index .link-3 {
    align-items: flex-start;
    background-color: #1f2230;
    border-radius: 5px;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 4px 10.69px 6px 11.83px;
    position: relative;
    z-index: 1;
}

.index .pseudo-6 {
    background-color: #b41712;
    border-radius: 5px;
    height: 34px;
    left: 0;
    position: absolute;
    top: 0;
    width: 86px;
}

.index .div-share-area {
    flex: 0 0 auto;
    position: relative;
    z-index: 0;
}

.index .div-eg-card-wrapper {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    left: 330px;
    max-width: 990px;
    padding: 24px 12px 0px;
    position: absolute;
    top: 0;
    width: 330px;
}

.index .link-4 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e7255b7adc33d128a35726/releases/64e72ae1e1c2a81b98b3cd5d/img/link---z3921848876089-6624b66e1d756370c13aa8f0512973c3-20--20cop@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    height: 200px;
    position: relative;
    width: 304px;
}

.index .div-col-lg-margin-2 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    left: 660px;
    max-width: 990px;
    padding: 24px 12px 0px;
    position: absolute;
    top: 0;
    width: 330px;
}

.index .div-auction-img-2 {
    align-self: stretch;
    height: 200px;
    position: relative;
    width: 100%;
}

.index .overlap-group-2 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e7255b7adc33d128a35726/releases/64e72ae1e1c2a81b98b3cd5d/img/link---48--2080b-1905-1-jpg@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    height: 200px;
    position: relative;
    width: 304px;
}

.index .div-author-emo {
    align-items: center;
    background-color: #ffffff;
    border-radius: 19px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0px 0px;
    justify-content: center;
    left: 30px;
    padding: 8px;
    position: absolute;
    top: 30px;
}

.index .LOGO-lvauction-png {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e7255b7adc33d128a35726/releases/64e72ae1e1c2a81b98b3cd5d/img/logo-lvauction-png@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    height: 22px;
    position: relative;
    width: 22px;
}

.index .div-col-lg-margin-3 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    left: 0;
    max-width: 990px;
    padding: 24px 12px 0px;
    position: absolute;
    top: 468px;
    width: 330px;
}

.index .overlap-group-3 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e7255b7adc33d128a35726/releases/64e72ae1e1c2a81b98b3cd5d/img/link---47--2080b-2030-1-jpg@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    height: 200px;
    position: relative;
    width: 304px;
}

.index .div-col-lg-margin-4 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    left: 330px;
    max-width: 990px;
    padding: 24px 12px 0px;
    position: absolute;
    top: 468px;
    width: 330px;
}

.index .overlap-group-4 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e7255b7adc33d128a35726/releases/64e72ae1e1c2a81b98b3cd5d/img/link---46--2080b-4020-5-jpg@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    height: 200px;
    position: relative;
    width: 304px;
}

.index .div-col-lg-margin-5 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    left: 660px;
    max-width: 990px;
    padding: 24px 12px 0px;
    position: absolute;
    top: 468px;
    width: 330px;
}

.index .overlap-group-5 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e7255b7adc33d128a35726/releases/64e72ae1e1c2a81b98b3cd5d/img/link---45--2080b-4021-1-jpg@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    height: 200px;
    position: relative;
    width: 304px;
}

.index .div-col-lg-margin-6 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    left: 0;
    max-width: 990px;
    padding: 24px 12px 0px;
    position: absolute;
    top: 936px;
    width: 330px;
}

.index .overlap-group-6 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e7255b7adc33d128a35726/releases/64e72ae1e1c2a81b98b3cd5d/img/link---44--2080b-2348-3-jpg@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    height: 200px;
    position: relative;
    width: 304px;
}

.index .div-col-lg-margin-7 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    left: 330px;
    max-width: 990px;
    padding: 24px 12px 0px;
    position: absolute;
    top: 936px;
    width: 330px;
}

.index .overlap-group-7 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e7255b7adc33d128a35726/releases/64e72ae1e1c2a81b98b3cd5d/img/link---43--2080b-4426-1-jpg@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    height: 200px;
    position: relative;
    width: 304px;
}

.index .div-col-lg-margin-8 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    left: 660px;
    max-width: 990px;
    padding: 24px 12px 0px;
    position: absolute;
    top: 936px;
    width: 330px;
}

.index .overlap-group-8 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e7255b7adc33d128a35726/releases/64e72ae1e1c2a81b98b3cd5d/img/link---42--2080b-1894-1-jpg@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    height: 200px;
    position: relative;
    width: 304px;
}

.index .nav-list {
    height: 38px;
    left: 12px;
    position: absolute;
    top: 1488px;
    width: 966px;
}

.index .item-link {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dee2e6;
    border-radius: 8px 8px 2px 8px;
    display: inline-flex;
    left: 360px;
    padding: 6px 13.02px 8px 13px;
    position: absolute;
    top: 0;
}

.index .text-wrapper-30 {
    color: #6c757d;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.index .link-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 447px;
    position: absolute;
    top: 0;
}

.index .link-5 {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #b41712;
    border-radius: 8px 8px 2px 8px;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 6px 12.92px 8px 13px;
    position: relative;
}

.index .text-wrapper-31 {
    color: #b41712;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.index .item-link-2 {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #eeeeee;
    border-radius: 8px 8px 2px 8px;
    display: inline-flex;
    left: 495px;
    padding: 6px 12.19px 8px 13px;
    position: absolute;
    top: 0;
}

.index .text-wrapper-32 {
    color: #1f2230;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.index .item-link-3 {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #eeeeee;
    border-radius: 8px 8px 2px 8px;
    display: inline-flex;
    left: 546px;
    padding: 6px 12.56px 8px 13px;
    position: absolute;
    top: 0;
}